.profile-pic-custom {
  max-width: 300px;
}

#portfolio-hr {
  width: 70%;
  border-top: 2px solid #bfbfbf;
}

.tech-stack--section {
  width: 100%;
}

.engineering-experience--section {

}

.engineering-experience--container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  width: 100%;
}

@media (max-width: 992px) {
  .engineering-experience--container {
    flex-direction: column;
  }
}

.engineering-experience--image-container {
  /* flex-grow: 1; */
  width: 40%;
  /* margin: 2rem; */
}

@media (max-width: 992px) {
  .engineering-experience--image-container {
    width: 100%;
  }
}

.engineering-experience--image {
  width: 100%;
}

.engineering-experience--description {
  /* flex-grow: 1; */
  width: 60%;
  margin: 0 2rem;

  p {
    font-size: 1.5em;
  }
}

@media (max-width: 992px) {
  .engineering-experience--description {
    width: 100%;
    margin: 2rem 0;
  }
}

.storyboards--section {
  text-align: center;
}


.storyboards--container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.storyboard--image-container {
  width: 33.33%;
}

.storyboard--image {
  width: 100%;
}

.storyboard--title {
  text-align: center;
}


.tech-stack--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 900px;
  margin: auto;
}

.tech-stack--container-item {
  width: 100%;
  max-width: 200px;
}

#disney-logo {
  width: 100%;
}

#warner-logo {
  width: 70px;
  margin-bottom: 10px;
}

#adult-swim-logo {
  width: 80px;
  margin-bottom: 15px;
}

#king-logo {
  width: 95px;
  margin-bottom: 20px;
}

#zynga-logo {
  width: 70px;
  margin-bottom: 10px;
}

#kixeye-logo {
  width: 80px;
  margin-bottom: 15px;
}

#chartboost-logo {
  width: 90px;
  margin-bottom: 25px;
}

#big-fish-logo {
  width: 80px;
  margin-bottom: 15px;
}