$root-background-color: $color-base-2;
$header-background-color: $light-yellow;
$about-background-color: $alice-blue;
$tech-background-color: $carolina-blue;
$tech-h1-color: $light-yellow;
$tech-h2-color: $white;

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

p {
  font-size: $font-size-p;
}

section {
  padding: 60px;
}

#root {
  height: 100vmax;
  background-color: $root-background-color;
  font-family: $font-primary;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#portfolio-hr {
  width: 70%;
  border-top: $border-grey;
  margin: 10px auto;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  text-align: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.header {
  background-color: $header-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .content-container {
    margin: 60px 30px;
    .header-logo {
      width: 65vw;
      margin: 0 0 10px 0;
    }
    h1 {
      font-weight: 100;
    }
  }
}


.about {
  padding: 60px;
  background-color: $about-background-color;
  .content-container {
    img {
      width: 20vw;
      margin: 0 20px;
      border-radius: 20px;
      box-shadow: $box-shadow;
    }
    .description {
      width: 40vw;
      margin: 0 20px;
      h2 {
        margin: 0 15px 15px 15px;
      }
      p {
        font-weight: 300;
      }
    }
  }
}

.tech {
  background-color: $tech-background-color;
  text-align: center;

  .heading {
    margin: 0 0 20px 0;

    h1 {
      color: $tech-h1-color;
    }
    h2 {
      color: $tech-h2-color;
      font-weight: 100;
    }
  }
  .tech-items--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;

    .tech-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 7rem;
      margin: 10px;

      .service-icon {
        background-color: $white;
        color: $tech-background-color;
        height: 7rem;
        width: 7rem;
        display: block;
        line-height: 7.5rem;
        font-size: 2.25rem;
        box-shadow: $box-shadow;
        border-radius: 50%;
        margin: 0 0 10px 0;
      }
      p {
        font-weight: 400;
      }
    }
  }
}

.tech-stack--section {
  width: 100%;

  .content-section-heading {
    h1 {

    }
    h2 {

    }
  }
  .tech-stack--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 900px;
    margin: auto;
  }
  
  .tech-stack--container-item {
    width: 100%;
    max-width: 200px;
    span {
      i {
  
      }
    }
    h4 {

    }
  }
}



.experience {
  background-color: $sky-blue;

  .heading {
    text-align: center;
    margin: 0 0 25px 0;

    h2 {
      color: $black;
    }
  }

  .experience-cards--container {
    width: 100%;
    
    $experience-card-border-radius: 15px;
    .experience-card {
      padding: 20px;
      margin: 20px 0;
      width: 100%;
      background-color: $white;
      border-radius: $experience-card-border-radius;
      box-shadow: $box-shadow;
    
      @include respond-to($breakpoint-large) {
        flex-direction: column;
      }

      .experience-card--image-container {
        width: 40%;
      
        @include respond-to($breakpoint-large) {
          width: 100%;
        }
        
        .experience-card--image {
          width: 100%;
          border-radius: $experience-card-border-radius;
          box-shadow: $box-shadow-light;
        }
      }
      
      .experience-card--description {
        text-align: left;
        width: 60%;
        margin: 0 2rem;
      
        @include respond-to($breakpoint-large) {
          width: 100%;
          margin: 2rem 0;
        }

        h3 {
          color: $color-base-5;
          font-weight: 400;
          margin: 0 0 15px 0;
        }
        p {
          margin: 0 0 15px 0;
        }
      }
    }
    .experience-card::after {
      z-index: -1;
      display: block;
      position: absolute;
      content: ' ';
      -webkit-filter: url('#blur');
      filter: url('#blur');
      -webkit-filter: blur(5px);
      filter: blur(5px);
      background-size: cover;
      opacity: 0.75;
      background-color: $white;
    }
  }
}


.recent-projects--section {
  .content-section-heading {
    h2 {

    }
  }

}


#disney-logo {
  width: 100%;
}

#warner-logo {
  width: 70px;
  margin-bottom: 10px;
}

#adult-swim-logo {
  width: 80px;
  margin-bottom: 15px;
}

#king-logo {
  width: 95px;
  margin-bottom: 20px;
}

#zynga-logo {
  width: 70px;
  margin-bottom: 10px;
}

#kixeye-logo {
  width: 80px;
  margin-bottom: 15px;
}

#chartboost-logo {
  width: 90px;
  margin-bottom: 25px;
}

#big-fish-logo {
  width: 80px;
  margin-bottom: 15px;
}