$header-background-color: $light-yellow;

* {
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

p {
  font-size: $font-size-p;
}

#root {
  height: 100vmax;
  background-color: $color-secondary;
  font-family: $font-primary;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#portfolio-hr {
  width: 70%;
  border-top: 2px solid #bfbfbf;
}

.flex-container {
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.header {
  background-color: $header-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .content-container {
    margin: 60px 30px;
    .header-logo {
      width: 65vw;
      margin: 0 0 10px 0;
    }
    h1 {
      font-weight: 100;
    }
  }
}

.about {
  padding: 60px;
  background-color: aliceblue;
  .content-container {
    img {
      width: 20vw;
      margin: 20px;
    }
    .description {
      width: 40vw;
      margin: 20px;
      h2 {
        margin: 15px;
      }
      p {
        font-weight: 300;
      }
    }
  }

}



.hero {
  h1 {

  }
  h3 {

  }
}

.overlay {

}

.about-me {
  .content-container {
    .row {
      display: flex;
      flex-wrap: wrap;
      img {

      }
      .description {
        h2 {

        }
        p {

        }
      }
    }
  }
}

.tech-stack {

}

.tech-stack--section {
  width: 100%;
  .content-section-heading {
    h1 {

    }
    h2 {

    }
  }
  .tech-stack--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 900px;
    margin: auto;
  }
  
  .tech-stack--container-item {
    width: 100%;
    max-width: 200px;
    span {
      i {
  
      }
    }
    h4 {

    }
  }
}

.engineering-experience--section {

}

.engineering-experience--container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  width: 100%;
}

@media (max-width: 992px) {
  .engineering-experience--container {
    flex-direction: column;
  }
}

.engineering-experience--image-container {
  /* flex-grow: 1; */
  width: 40%;
  /* margin: 2rem; */
}

@media (max-width: 992px) {
  .engineering-experience--image-container {
    width: 100%;
  }
}

.engineering-experience--image {
  width: 100%;
}

.engineering-experience--description {
  /* flex-grow: 1; */
  width: 60%;
  margin: 0 2rem;

  p {
    font-size: 1.5em;
  }
}

@media (max-width: 992px) {
  .engineering-experience--description {
    width: 100%;
    margin: 2rem 0;
  }
}

.storyboards--section {
  text-align: center;
}


.storyboards--container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.storyboard--image-card {
  width: 33.33%;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
}

.storyboard--image-container {
  a {
    img {

    }
  }
}

.storyboard--image {
  border-radius: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.storyboard--title {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 992px) {
  .storyboards--container {
    flex-direction: column;
  }
  
  .storyboard--image-card {
    flex-direction: row;
    margin: 0;
    width: 100%;
  }

  .storyboard--image-container {
    flex-shrink: 0;
    width: 30%;
  }

  .storyboard--image {
    
  }

  .storyboard--title {
    align-self: center;
    flex-shrink: 1;
    margin-left: 2rem;
    text-align: left;
  }
}

.recent-projects--section {
  .content-section-heading {
    h2 {

    }
  }

}


#disney-logo {
  width: 100%;
}

#warner-logo {
  width: 70px;
  margin-bottom: 10px;
}

#adult-swim-logo {
  width: 80px;
  margin-bottom: 15px;
}

#king-logo {
  width: 95px;
  margin-bottom: 20px;
}

#zynga-logo {
  width: 70px;
  margin-bottom: 10px;
}

#kixeye-logo {
  width: 80px;
  margin-bottom: 15px;
}

#chartboost-logo {
  width: 90px;
  margin-bottom: 25px;
}

#big-fish-logo {
  width: 80px;
  margin-bottom: 15px;
}