.navigation {
  position: fixed;
  right: 0;
  cursor: pointer;

  img {
    opacity: 0.25;
    height: 50px;
    z-index: 1;

    @include respond-to($breakpoint-small) {
      height: 75px;
    }
  }
}
