.navigation {
  position: fixed;
  right: 0;
  cursor: pointer;
  margin: 10px 10px 0 0;

  opacity: 0.25;
  z-index: 1;

  @include respond-to($breakpoint-small) {
    margin: 20px;
    padding: 5px;
    outline: 2px solid grey;
    border-radius: 10px;
  }
}
