$simple-background: url(../img/svg/groups/simple-shapes-pattern.svg);
$outlines-background: url(../img/svg/groups/outlines-pattern.svg);
$splotch-background: url(../img/svg/groups/spotch-pattern.svg);