$breakpoint-xx-large: "xx-large";// 1400px
$breakpoint-x-large: "x-large";// 1200px
$breakpoint-large: "large";// 1000px
$breakpoint-medium: "medium";// 800px
$breakpoint-small: "small";// 700px
$breakpoint-x-small: "x-small";// 550px
$breakpoint-xx-small: "xx-small";// 550px

$xx-large: 1400px; // 1400px
$x-large: 1200px; // 1200px
$large: 1000px; // 1000px
$medium: 800px; // 800px
$small: 700px; // 700px
$x-small: 550px; // 550px
$xx-small: 321px; // 321px
