// Colors
$white: #ffffff;
$black: #000000;

// colors from Affinity Designer
$golden-yellow: #ffc300;
$bright-purple: #7539fc;
$dark-purple: #6b4f8c;
$light-purple: #e0c5ff;
$bright-blue: #0288fe;
$dark-blue: #002c51;
$electric-red: #fa3565;
$bright-green: #01c381;
$light-green: #80c5ae;

// general colors
$light-yellow: #f2f0aa;

$alice-blue: #f5faff;
$alice-blue-darker: #f0f8ff;
$light-blue: #e4f8ff;
$react-blue: #80d8f7ff;
$sky-blue: #66c9edff;
$sky-blue-2: #64c5e8ff;
$carolina-blue: #049ed6ff;
$dark-blue: #00698f;
$pewter-blue: #8fa9b3ff;

$color-purple-light: #f6f6fd;
$color-purple-light-2: #e6e6fa;

$shadow-black: #22242626;

// Color Scheme
$color-base-1: $bright-green;
$color-base-2: $bright-purple;
$color-base-3: $dark-purple;
$color-base-4: $bright-blue;
$color-base-5: $dark-blue;
$color-base-6: $electric-red;
$color-base-7: $light-yellow;

$primary-color: $white;
$secondary-color: $golden-yellow;
$tertiary-color: $light-purple;
$alert-color: $light-yellow;
$error-color: $electric-red;
$success-color: $bright-green;
$accent-color: $react-blue;
// Shadows & Borders
$box-shadow-primary: 30px 5px 60px 0 rgba(255, 255, 255, 0.3);
$box-shadow-light: 0 0.0625rem 0.125rem 0 $color-base-3;
$box-shadow-dark: 0 0.0625rem 0.125rem 0 $color-base-3;

$border-light: 1px solid $color-base-1;
$border-dark: 2px solid $color-base-3;
$border-grey: 2px solid $color-base-4;
// Glass
$glass-background-image: linear-gradient(
  121deg,
  rgba(238, 238, 238, 0.4) 0%,
  rgba(216, 216, 216, 0.1) 78%
);
$glass-box-shadow: 0 7px 6px 1px rgba(0, 0, 0, 0.1);
$glass-foreground-image: linear-gradient(
  122deg,
  rgba(238, 238, 238, 0.6) 0%,
  rgba(216, 216, 216, 0.25) 78%
);
$glass-foreground-box-shadow: 0 7px 6px 1px rgba(0, 0, 0, 0.1);
// Debossed
$debossed-background: #d8d8d8;
$debossed-box-shadow: inset 11px 13px 31px 5px rgba(0, 0, 0, 0.5);
$debossed-color: $black;
// Color Gradients
$primary-gradient: linear-gradient(
  -43deg,
  rgba(50, 197, 255, 1) 0%,
  rgba(182, 32, 224, 1) 51%,
  rgba(247, 181, 0, 1) 100%
);

// Border & Component Styles
$border-radius-primary: 2.25rem;
$border-radius-large: 1.5rem;
$border-radius-tablet: 1rem;
$border-radius-mobile: 1rem;
$border-radius-small: 0.75rem;

$gap-primary: 2rem;
$gap-primary-large: 1.5rem;
$gap-primary-tablet: 1rem;
$gap-primary-mobile: 0.75rem;
$gap-secondary: 2rem;
$gap-secondary-large: 1.5rem;
$gap-secondary-tablet: 1.25rem;
$gap-secondary-mobile: 1rem;

// Hero
$hero-background-color: $black;
// About
$about-background-color: $black;
$about-img-width: 30vw;
$about-img-margin: 0 0 20px 25px;
$about-img-border-radius-portrait: 100px 100px 20px 20px;

// Experience
$experience-card-gap: 2rem;
$experience-card-gap-large: 1.5rem;
$experience-card-gap-tablet: 1rem;
$experience-card-gap-mobile: 0.75rem;
$experience-card-margin: 0 0 4rem 0;

$experience-card-section-padding: 1.5rem 2.25rem;
$experience-card-section-display: flex;
$experience-card-section-justify-content: space-evenly;
$experience-card-section-align-content: center;
$experience-card-section-flex-direction: column;

$experience-card-company-text-align: left;
$experience-card-description-text-align: left;
$experience-card-description-p-margin-bottom: 1rem;
