// Colors
$white: #ffffff;
$black: #000000;

// colors from Affinity Designer
$golden-yellow: #ffc300;
$bright-purple: #7539fc;
$dark-purple: #6b4f8c;
$light-purple: #e0c5ff;
$bright-blue: #0288fe;
$dark-blue: #002c51;
$electric-red: #fa3565;
$bright-green: #01c381;
$light-green: #80c5ae;

// general colors
$light-yellow: #f2f0aa;

$alice-blue: #f5faff;
$alice-blue-darker: #f0f8ff;
$light-blue: #e4f8ff;
$react-blue: #80d8f7ff;
$sky-blue: #66c9edff;
$sky-blue-2: #64c5e8ff;
$carolina-blue: #049ed6ff;
$dark-blue: #00698f;
$pewter-blue: #8fa9b3ff;

$color-purple-light: #f6f6fd;
$color-purple-light-2: #e6e6fa;

$shadow-black: #22242626;

// Color Scheme
$color-base-1: $bright-green;
$color-base-2: $bright-purple;
$color-base-3: $dark-purple;
$color-base-4: $bright-blue;
$color-base-5: $dark-blue;
$color-base-6: $electric-red;
$color-base-7: $light-yellow;

// Shadows & Borders
$box-shadow: 0 0.0625rem 0.125rem 0 $color-base-3;
$box-shadow-light: 0 0.0625rem 0.125rem 0 $color-base-3;
$box-shadow-dark: 0 0.0625rem 0.125rem 0 $color-base-3;

$border-light: 1px solid $color-base-1;
$border-dark: 2px solid $color-base-3;
$border-grey: 2px solid $color-base-4;

$border-radius: 10px;

$primary-color: $white;
$secondary-color: $golden-yellow;
$tertiary-color: $light-purple;
$alert-color: $light-yellow;
$error-color: $electric-red;
$success-color: $bright-green;
$accent-color: $react-blue;
