$font-primary: system-ui, sans-serif;
$font-secondary: 'Nimbus Mono PS', 'Courier New', monospace;

$h1-color: #ffffff;
$h1-font-size: 81px;
$h1-font-weight: 600;
$h1-line-height: 1;
$h1-letter-spacing: -0.01em;
$h1-margin: 0 0.5em 0.5em;

$font-size-h2: 122px;
$font-size-h2-mobile: 122px;

$font-size-h3: 40px;

$font-size-h4: 35px;

$font-size-p: 32px;
